<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>

    <style>
        body {
            background: linear-gradient(to right, #ffffb3, #4d4d00);
        }
    </style>
</head>
<body>
    <p> Привет из представления!!</p>
</body>
</html >
